h1{
    color: black;
}
div{
    border: blueviolet;
    width: 500px;
    height: 100px;
    background-color: yellow;
    border: 30px solid blue;
    padding: 30px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p{
    text-align: center;
    color: black;
}