
.p{
    color:red;
    background-color: rgb(54, 219, 199);
}
#as{
     font-size: 25px;
     
}
.pop{
    color: aquamarine;
}


.box1{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 15px;
    padding: 20px;
    border: 5px solid red;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: orange;
    margin: 15px;
    padding: 20px;
    border: 5px solid blue;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: pink;
    margin: 15px;
    padding: 20px;
    border: 5px solid green;
}
.box4{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    margin: 15px;
    padding: 20px;
    border: 5px solid purple;
}
h4{
    color:blueviolet;
    text-align: center;
}
.yo{
    color:red
}
.box5{
    width: 400px;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
}
.ok{
    width: 500px;
    height: 200px;
    border: 5px solid black;
    text-align: center;

}
h1{
    color: black;
   background-color: cyan;
}
h2{
    color: black;
}
.oo{
    background-color: green;

}
div{
    display: inline-block;
}
.u{
    box-sizing: border-box;
    border: 2px solid black;
    
    
    
}
.card1{
    width: 100px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: yellow;
}
.card2{
    width: 100px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: pink;
}
.card3{
    width: 100px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: lightblue;

}
