
.p{
    color:red;
    background-color: rgb(54, 219, 199);
}
#as{
     font-size: 25px;
     
}
.pop{
    color: aquamarine;
}
div{
 
}

.box1{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 15px;
    padding: 20px;
    border: 5px solid red;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: orange;
    margin: 15px;
    padding: 20px;
    border: 5px solid blue;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: pink;
    margin: 15px;
    padding: 20px;
    border: 5px solid green;
}
.box4{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    margin: 15px;
    padding: 20px;
    border: 5px solid purple;
}
h4{
    color:blueviolet;
    text-align: center;
}
.yo{
    color:red
}
.box5{
    width: 400px;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
}